* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header area style */
header {
    background-color: #FFF4E7;
    padding: 50px 0;
}

.heading-section {
    width: 80%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav-title {
    color: #131313;
    font-size: 30px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 600;
}

/* branding img style */
.branding-section {
    text-align: center;
}

.branding-info {
    width: 50%;
    margin: 50px auto;
}

.branding-title {
    font-size: 44px;
}

.branding-info p {
    color: #727272;
    font-size: 16px;
    margin: 20px 0;
}

.branding-img img {
    width: 100%;
}

.btn-primary {
    padding: 15px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

/* main area style */

/* feature list style */
.features-list {
    width: 70%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 45px;
}

.feature-list-img {
    /* width: 50%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.feature-list-img img {
    width: 342px;
    height: 342px;
}

.feature-list-title {
    font-size: 35px;
    color: #727272;
    font-weight: 400;
    margin-right: 40px;
}

.color-1 {
    color: #131313;
    font-weight: 800;
}

.color-2 {
    color: #FF900E;
    font-weight: 800;
}

.feature-list-info p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0;
}

/* feature section style */
.features-section {
    width: 80%;
    margin: auto;
    display: flex;
}

.feature-section-info {
    margin-right: 80px;
    margin-top: 10px;
}

.feature-section-title {
    color: #131313;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
    padding-left: 10px;
    border-left: 4px solid #FF900E;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    margin: 20px 0;
}

.feature-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0;
}

.feature-box h3 {
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.feature-box p {
    color: #727272;
    font-size: 16px;
}

/* feature section img */
.feature-section-img img {
    width: 600px;
}

/* btn-secondary */
.btn-secondary {
    padding: 26px 30px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-minus {
    margin-left: -60px;
    margin-top: -70px;
}

.secondary {
    font-size: 45px;
    font-weight: 600;
}

/* facts section style */
.facts-section {
    width: 80%;
    margin: 120px auto;
}

.facts-info {
    width: 40%;
}

.facts-info-title {
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}

.facts-info p {
    color: #727272;
    font-size: 16px;
}

.facts-box-area {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.facts-box {
    text-align: center;
    padding: 25px 15px;
    width: 169px;
    height: 136.22px;
    border: 1px solid #FF900E;
    color: #424242;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

.facts-box h3 {
    font-size: 35px;
    margin: 10px 0;
}

.facts-box p {
    font-size: 16px;
    font-weight: 600;
}

.facts-box:hover {
    background-color: #FF900E;
    color: #FFFFFF;
}

/* sponsor area style */
.sponsor {
    width: 80%;
    margin: 120px auto;
    text-align: center;
}

.sponsor-description h2 {
    font-size: 35px;
    margin: 10px 0;
}

.sponsor-description p {
    font-size: 16px;
    color: #727272;
    width: 40%;
    margin: 20px auto;
    line-height: 26px;
}

.sponsor-img {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.sponsor-img img {
    width: auto;
    height: 40px;
    filter: grayscale(100%);
}

/* meet engineer style */
.meet-engineer {
    width: 80%;
    margin: 100px auto;

}

.meet-engineer h2 {
    font-size: 35px;
    text-align: center;
    margin: 40px;
}

.engineers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.engineer-box {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.engineer-box img {
    width: 100%;
}

.engineer-box h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.engineer-box p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #727272;
}

/* footer style */
footer {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.footer-area {
    background-color: #FFF4E7;
    padding: 40px 400px;
    color: #424242;
    border-radius: 7px;
}